
.footer-masengers {
    display: block;
    margin: 0 93px 0 63px;
}

.footer-masengers__subtitle {
    margin-bottom: 20px;

    color: var(--color-section);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-masengers__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.footer-masengers__icon {
    width: 20px;
    height: 20px;
    fill: var(--color-section);
}


.footer-masengers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--color-section);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: var(--transition-header);
    transition-timing-function: var(--transition-cubic-bezier);
}

.footer-masengers__link:hover,
.footer-masengers__link:focus {
    background-color:var(--color-brand);


}

.footer-masengers__li {
    width: 44px;
    height: 44px;
}